<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.singh.shekhar.touch">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/touch"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.singh.shekhar.touch.Splash_screen"
            android:screenOrientation="userLandscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.singh.shekhar.touch.MainActivity"
            android:screenOrientation="userLandscape" />
        <activity
            android:name="com.singh.shekhar.touch.Main3Activity"
            android:screenOrientation="userLandscape" />
        <activity
            android:name="com.singh.shekhar.touch.high_score"
            android:screenOrientation="userLandscape" />
        <activity android:name="com.singh.shekhar.touch.Main2Activity"
            android:screenOrientation="userLandscape"/>
    </application>

</manifest>